<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/animal_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/animal_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalApp"
        tools:targetApi="31">
        <activity
            android:name=".Activity_Profilo_Segnalazione_senza_modifica"
            android:exported="false"
            android:label="@string/title_activity_profilo_segnalazione_senza_modifica"
            android:theme="@style/Theme.AnimalApp.NoActionBar" />
        <activity
            android:name=".Activity_profilo_Offerta"
            android:exported="false" />
        <activity
            android:name=".Activity_Profilo_Segnalazione"
            android:exported="false" />
        <activity
            android:name=".Activity_Profilo_Veterinario"
            android:exported="false"
            android:label="@string/title_activity_veterinario"
            android:theme="@style/Theme.AnimalApp.NoActionBar" />
        <activity
            android:name=".Activity_Miei_Animali"
            android:exported="false" />
        <activity
            android:name=".Activity_Album_Animali"
            android:exported="false" />
        <activity
            android:name=".Activity_Segnalazione"
            android:exported="false" />
        <activity
            android:name=".Activity_Offerte"
            android:exported="false" />
        <activity
            android:name=".Activity_Ricerca_Offerta"
            android:exported="false" />
        <activity
            android:name=".Activity_Registrazione_Segnalazione"
            android:exported="false" />
        <activity
            android:name=".Activity_Ricerca_Segnalazione"
            android:exported="false" />
        <activity
            android:name=".Activity_Bluetooth"
            android:exported="false" />
        <activity
            android:name=".Activity_Animali"
            android:exported="false" />
        <activity
            android:name=".Activity_QRcode"
            android:exported="false"
            android:label="Scansione QRCode" />
        <activity
            android:name=".Activity_Segnalazioni_Offerte"
            android:exported="false" />
        <activity
            android:name=".Activity_Proprieta"
            android:exported="false" />
        <activity
            android:name=".Activity_Crea_Offerta"
            android:exported="false" />
        <activity
            android:name=".Activity_Ente"
            android:exported="false" />
        <activity
            android:name=".Activity_Animal_Profile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity_Registrazione_Animale"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity_QRGenerate"
            android:exported="true" />
        <activity
            android:name=".Activity_Reset_Password"
            android:exported="false" />
        <activity
            android:name=".Preference"
            android:exported="false" />
        <activity
            android:name=".Activity_Chi_Siamo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_Profile_Proprietario_Ente"
            android:exported="false"
            android:parentActivityName=".Activity_Home">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_Google_Sign_In"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_Register"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_Home"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_Spese"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_Crea_Oggetto_Spesa"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>